# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula** 

Nombre: Jorge Sebastian Aguirre Jimenez

Matricula: 1947870

1. Carga las librerias básicas

In [1]:
##### carga las dos librerias usadas (numpy, pandas ) 
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [ ]:
ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv').round(1)
ventas

      Año         Mes  Ventas  Gasto
0    2010       Enero    1056    533
1    2010     Febrero     910    496
2    2010       Marzo    1095    695
3    2010       Abril    1157    599
4    2010        Mayo     969    490
..    ...         ...     ...    ...
163  2023      Agosto    1759   1818
164  2023  Septiembre    2114   2142
165  2023     Octubre    2120   1767
166  2023   Noviembre    2102   1652
167  2023   Diciembre    2166   2192

[168 rows x 4 columns]

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [5]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     168 non-null    int64
 1   Mes     168 non-null    object
 2   Ventas  168 non-null    int64
 3   Gasto   168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [6]:
#muestra las primeras 5 filas del dataframe
ventas.head(5)

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [8]:
## escribe aqui el código
ventas['Ganancias']=ventas['Ventas']-ventas['Gasto']
ventas

      Año         Mes  Ventas  Gasto  Ganancias
0    2010       Enero    1056    533        523
1    2010     Febrero     910    496        414
2    2010       Marzo    1095    695        400
3    2010       Abril    1157    599        558
4    2010        Mayo     969    490        479
..    ...         ...     ...    ...        ...
163  2023      Agosto    1759   1818        -59
164  2023  Septiembre    2114   2142        -28
165  2023     Octubre    2120   1767        353
166  2023   Noviembre    2102   1652        450
167  2023   Diciembre    2166   2192        -26

[168 rows x 5 columns]

4. Encuentra el mes-año con las ganancias más altas

In [12]:
## escribe aqui el código
ventas.groupby(['Año','Mes'])['Ganancias'].agg('max').round(1)

Año   Mes
2010  Abril         558
      Agosto        415
      Diciembre     439
      Enero         523
      Febrero       414
                   ...
2023  Marzo         109
      Mayo         -101
      Noviembre     450
      Octubre       353
      Septiembre    -28
Name: Ganancias, Length: 168, dtype: int64

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [19]:
## escribe aqui el código
ventas_totales=ventas['Ventas'].sum()
gastos_totales=ventas['Gasto'].sum()

In [21]:
ganancias_totales=ventas_totales-gastos_totales
print('Las ventas totales son',ventas_totales)
print('Los gastos totales son',gastos_totales)
print('Las ganancias totales son',ganancias_totales)

Las ventas totales son 235731
Los gastos totales son 181123
Las ganancias totales son 54608

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [22]:
## escribe aqui el código
ventastot=ventas.groupby('Año').sum()
print(ventastot)

                                                    Mes  Ventas  Gasto
Año
2010  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   12015   6756
2011  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   12778   7806
2012  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   12965   8430
2013  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   14037   8963
2014  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   14922  10377
2015  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   14951  10784
2016  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   15376  11053
2017  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   17189  12369
2018  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   18325  14648
2019  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   18204  14759
2020  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   18917  16206
2021  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   21057  17693
2022  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   21692  18946
2023  EneroFebreroMarzoAbrilMayoJunioJulioAgostoSept...   23303  22333

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [28]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
ventas.query('Año==2015')['Ventas'].mean()

1245.9166666666667

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [47]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas 
suma=ventas.query('Mes=="Enero"')['Ventas'].sum()
print('Las ventas totales para los eneros son',suma)

Las ventas totales para los eneros son 20073

In [48]:
## escribe aqui el código ventas promedio
mean=ventas.query('Mes=="Enero"')['Ventas'].mean()
print('Las ventas promedio para los eneros son de',mean)

Las ventas promedio para los eneros son de 1433.7857142857142

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [55]:
## aqui va tu codigo
orden=ventas.groupby('Mes')['Ventas'].agg('mean').round(1)
orden.sort_values()

Mes
Junio         1325.7
Septiembre    1347.4
Julio         1363.6
Octubre       1388.3
Marzo         1394.4
Febrero       1406.4
Mayo          1409.7
Diciembre     1416.6
Enero         1433.8
Agosto        1437.9
Noviembre     1456.6
Abril         1457.5
Name: Ventas, dtype: float64